* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    font-family: Arial, Tahoma;
}
/*strat info section*/
.info{
    width: 939px;
    background-color: #e2d1f8;
    margin: 20px auto 0;
    padding: 20px;
    font-size: 24px;
    overflow: hidden;
}
.info .name{
    float: left;
    width: 33%;
}
.info .tries{
    float: right;
    width: 33%;
    text-align: right;
}
.info #timer-display{
    width: 33%;
    float: left;
    text-align: center;
}
/*end info section*/
/*start game block section*/
.game-block{
    display: flex;
    width: 959px;
    margin: 20px auto;
    flex-wrap: wrap;
}
.game-block.no-clicking{
    pointer-events: none;
}
.game-block .card-block{
    height: 140px;
    transition: transform .5s ;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    flex: 1 0 140px;
    margin: 0 10px 20px;
}
.game-block .card-block.is-flipped,
.game-block .card-block.has-matched{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    pointer-events: none;
}
.game-block .card-block.wobble{
    -webkit-animation: wobble 1s;
    animation: wobble 1s;
}
.game-block .card-block .scale{
    -webkit-animation: scale 1s;
    animation: scale 1s;
}
.game-block .card-block .front{
    background-color: #9e57fa;
    line-height: 140px;
}
.game-block .card-block .front:before{
    content: '?';
    font-size: 120px;
    font-weight: bold;
    color: #fff;
}
.game-block .card-block .back{
    background-color: #874bd4;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.game-block .card-block .back img{
    width: 100%;
    height: 100%;
}
.game-block .card-block .face{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
}
/*end game block section*/
/*start overlay section*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(111 0 255 / 0.90);
    z-index: 2;
}
.overlay span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px 25px;
    color: #fff;
    background-color: rgb(78 35 134);
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
/*end overlay section*/
/*start restart section*/
.restart,
.start,
.win{
    position: fixed;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #8d31ff;
    border: 2px solid rgb(180 123 255 / 42%);
    color: #fff;
    box-shadow: 1px 1px 4px 1px #00000082;
    text-align: center;
    font-size: 25px;
    z-index: 2;
    display: none;
}
.restart div,
.start div,
.win div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.start #name,
.start #name:focus{
    border: 1px solid #fff;
    display: block;
    width: 100%;
    padding: 7px;
    margin-bottom: 30px;
    background-color: #0000;
    color: #fff;
}
.restart button,
.start .submit,
.win button{
    border: none;
    outline: none;
    padding: 15px 25px;
    background-color: rgb(70 0 160 / 90%);
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    margin: 5px 0;
    min-width: 110px;
}
/*end restart section*/
/*start footer*/
footer {
    position: absolute;
    bottom: -55px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #4d05a97d;
    color: #d200b9;
    font-size: 16px;
    letter-spacing: 1.4px;
    font-weight: bold;
}
footer span{
    color: #37027c;
}
/*end footer*/
@-webkit-keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg)
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg)
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg)
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg)
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg)
  }
  100% {
    -webkit-transform: none;
    transform: none
  }
}
@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@media(max-width: 980px){
    .info{
        width: 100vw;
    }
    .game-block{
        width: 96vw;
    }
    .game-block .card-block{
        margin: 0 8px 10px;
    }
    .overlay{
        width: 100vw;
        height: 100vh;
    }
}
@media(max-width: 813px){
    .game-block .card-block{
        margin: 0 2px 4px;
    }

}
@media(max-width: 750px){
     .info{
        width: 94vw;
        font-size: 13px;
    }
    .game-block{
        width: 94vw;
    }
    .game-block .card-block{
        margin: 0 1px 4px;
    }
    .game-block .card-block{
        height: 80px;
        flex: 1 0 24%;
    }
    .game-block .card-block .front{
        line-height: 80px;
    }
    .game-block .card-block .front:before{
        font-size: 50px;
    }
    .restart, .start, .win{
        width: 90%;
        font-size: 18px;
    }
}
@media(min-width:510px ) and (max-width: 750px){
    .game-block .card-block{
        margin: 0 1px 4px;
    }
    .game-block .card-block{
    height: 120px;
    flex: 1 0 24%;
    }
    .game-block .card-block .front{
        line-height: 120px;
    }
    .game-block .card-block .front:before{
        font-size: 80px;
    }

}